
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta name="author" content="CSS Design Awards" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta property="og:title" content="Few and Far - CSS Design Awards"/>
    <meta property="og:description" content="Few and Far are a creative studio helping charities make our world a better place."/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://www.cssdesignawards.com/sites/few-and-far/45223"/>
    <meta property="og:image" content="https://www.cssdesignawards.com/cdasites/2024/202402/20240223163704.jpg"/>
    <meta property="og:image:width" content="1068" />
    <meta property="og:image:height" content="646" />

    <title>Few and Far - CSS Design Awards</title>
    <meta name="description" content="Few and Far are a creative studio helping charities make our world a better place." />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">

    <link rel="stylesheet" href="/css/style-main.min.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/jcf.css" type="text/css" media="all">
<!--    <link rel="stylesheet" href="/css/jspage_style.css" type="text/css" media="all">-->
    <style>.cart {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #3498db;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .cart-content {
            display: none;
            text-align: center;
        }

        .close {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        #cartContent{
            width: 300px;
            margin: 20px auto;
            border: 1px solid #ccc;
            padding: 10px;
            height: 300px;
            overflow-y: scroll;
        }

        #input-container {
            width: 300px;
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            position: fixed;
            bottom:10px;

        }
    </style>

</head>

<body>
<div id="page">
    <header class="main">

        <nav class="header__main-wrapper">
            <div class="flex-grid">
                <a href="/mainPage" class="header__site-logo">
                    <img  src="/imgs/logo.svg" alt="CSS Design Awards">
                </a>
            </div>
            <div class="flex-grid text-center mobile-hidden">
                <div class="header__fade-slider">
                    <div class="header__fade-slider__slide active">
                        <a href="mainPage">
                            <img src="/imgs/content/2024/readymag.svg" width="500" height="150" alt="Readymag">

                        </a>
                    </div>

                </div>
            </div>
            <div class="flex-grid text-right">
                <div class="header__side-elements">
                    <a href="#" class="menu-hamburger" data-modal-open="header-main-menu"></a>
                    <% if (loggedInUserNickName) { %>
                    <a href="#" class="cust-btn mobile-hidden"><%= loggedInUserNickName %> member</a>
                    <a href="/logout" class="cust-btn mobile-hidden">LOGOUT</a>
                    <% } else { %>
                    <a href="/login" class="cust-btn mobile-hidden">LOGIN</a>
                    <% } %>
                </div>
            </div>
        </nav>
        <div data-modal="header-main-menu" class="modal header-modal-menu">
            <div class="modal__hide-scroll">
                <div class="container">
                    <div class="modal__content">

                        <nav class="header__main-menu">
                            <div class="header__main-menu__wrapper">
                                <button class="modal__close">X</button>
<!--                                *** link -->
                                <ul class="header__main-menu__list">
                                    <li><a href="/mainPage" class="cust-btn">Home</a></li>
                                    <li><a href="/mapPage" class="cust-btn">Top 100 mountain</a></li>
                                    <li><a href="/boarder_boardMain" class="cust-btn">Alloola Board</a></li>
                                    <li><a href="/ej_boardMain" class="cust-btn">Community Board</a></li>
                                    <li><a href="/customshop_boardMain" class="cust-btn">Shop</a></li>

                                </ul>
                                <ul class="header__main-menu__add-on">
<!--                                    <li><a href="/submit" class="cust-btn special-button">SUBMIT</a></li>-->
                                    <li><a href="/login" target="_blank">Login</a></li>
                                    <li><a href="/signUp" target="_blank">SignUp</a></li>



                                </ul>
                            </div>
                        </nav>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>

    </header>

    <section class="single-website single-nominee">
        <div class="container">
            <div class="single-website__wrapper">

                <header class="single-website__header">
                    <h1 class="single-website__date">Korea's Top 100 famous mountains</h1>

                    <div class="single-nominee__header__flex">
                        <div class="single-nominee__header__left">
                            <h2 class="single-website__title">Few and Far</h2>
                            <h3 class="single-website__author">
                                <a href="https://www.few-far.co" target="_blank" class="single-website__author__name">Few and Far</a>
                                <span class="single-website__author__location">UK</span>
                            </h3>

                        </div>


                    </div>

                </header>
                <!-- /.single-nominee__header -->

                <figure class="single-website__thumbnail__wrapper">
                    <a href="/mapPage"  class="single-website__thumbnail single-nominee__thumbnail">
<!--                        <img src="/cdasites/2024/202402/20240223163704.jpg" alt="Few and Far website" width="100%" />-->
                        <video  width="100%" controls autoplay muted style="filter: blur(0.1px); border-radius: 15px">
                            <source src="/video/videoplayback.mp4" type="video/mp4">
                        </video>

                    </a>

                    <figcaption class="single-website__caption">
                        <div class="single-website__desc">
                            <div class="single-website__desc__about">
<!--                                <p><strong>ABOUT: </strong>Few and Far are a creative studio helping charities make our world a better place.</p>-->
                                    <div style="height: 300px">

                                        여기에는 뭐넣지?


                                    </div>
                            </div>


                            <div class="single-website__desc__meta">
<!--                                <p><strong>ABOUT: </strong>Few and Far are a creative studio helping charities make our world a better place.</p>&ndash;&gt;-->
                                <div style="height: 300px; width:500px" id="weekly-forecast">
                                    여기에 날씨



                                </div>
                            </div>
                        </div>

                        <script>
                            const weatherIcons = {
                                '01d': 'clear-sky-day.png',
                                '01n': 'clear-sky-night.png',
                                '02d': 'few-clouds-day.png',
                                '02n': 'few-clouds-night.png',
                                '03d': 'scattered-clouds.png',
                                '03n': 'scattered-clouds.png',
                                '04d': 'broken-clouds.png',
                                '04n': 'broken-clouds.png',
                                '09d': 'shower-rain.png',
                                '09n': 'shower-rain.png',
                                '10d': 'rain-day.png',
                                '10n': 'rain-night.png',
                                '11d': 'thunderstorm.png',
                                '11n': 'thunderstorm.png',
                                '13d': 'snow.png',
                                '13n': 'snow.png',
                                '50d': 'mist.png',
                                '50n': 'mist.png'
                            };

                            // 주어진 데이터에서 일주일 동안의 날씨 정보를 가져와서 표시하는 함수

                            function fahrenheitToCelsius(fahrenheit) {
                                console.log(fahrenheit)
                                return fahrenheit - 273.15;
                            }

                            function displayWeeklyWeather(data) {
                                const weeklyForecast = document.getElementById('weekly-forecast');
                                const dailyForecasts = data.list.filter((item, index) => index % 4 === 0); // 각 날짜의 첫번째 예보만 선택

                                // dailyForecasts.forEach(forecast => {
                                for(let i = 0; i < dailyForecasts.length; i++){

                                    let forecast = dailyForecasts[i];
                                    const date = new Date(forecast.dt * 1000);
                                    const hours = date.getHours(); // 시간 가져오기

                                    const timeOfDay = hours >= 12 ? '오후' : '오전'; // 오전과 오후 구분
                                    const weather = forecast.weather[0].description;
                                    const temperatureFahrenheit = forecast.main.temp;
                                    const temperatureCelsius = fahrenheitToCelsius(temperatureFahrenheit); // 화씨를 섭씨로 변환
                                    const iconCode = forecast.weather[0].icon;
                                    const iconUrl = `http://openweathermap.org/img/w/${iconCode}.png`;

                                    const forecastItem = document.createElement('div');
                                    forecastItem.classList.add('forecast-item');


                                    if(hours>=12) {
                                        if(i === 0){
                                            forecastItem.innerHTML = `<strong>${date.toLocaleDateString()}</strong> ${timeOfDay}: 온도: ${temperatureCelsius.toFixed(1)}℃`;
                                        }else{
                                            forecastItem.innerHTML = `<strong> ${timeOfDay}</strong>: 온도: ${temperatureCelsius.toFixed(1)}℃`;
                                            forecastItem.style.display="inline-block";
                                        }

                                    }else{

                                        forecastItem.innerHTML = `<strong>${date.toLocaleDateString()}</strong> ${timeOfDay}: 온도: ${temperatureCelsius.toFixed(1)}℃`;
                                        forecastItem.style.display="inline-block";
                                    }
                                    const weatherIcon = document.createElement('img');
                                    weatherIcon.src = iconUrl;
                                    weatherIcon.alt = '날씨 아이콘';
                                    forecastItem.appendChild(weatherIcon);

                                    weeklyForecast.appendChild(forecastItem);
                                }
                            }

                            // OpenWeatherMap API로부터 날씨 정보를 가져오는 함수
                            function getWeeklyForecast() {
                                fetch('https://api.openweathermap.org/data/2.5/forecast?q=Seoul&id=524901&appid=e4da173a465467c2fe1afdf007ebb1f8&units=metricc')
                                    .then(response => response.json())
                                    .then(data => {
                                        displayWeeklyWeather(data);
                                    })
                                    .catch(error => console.error('날씨 정보를 가져오는 동안 오류가 발생했습니다.', error));
                            }

                            // 페이지 로드 시 일주일 동안의 날씨 정보를 가져오기
                            window.onload = getWeeklyForecast;
                        </script>


                        <!-- /.single-nominee__votes -->



                    </figcaption>
                    <!-- /.single-website__caption -->

                </figure>
                <!-- /.single-nominee__thumbnail__wrapper -->

            </div>
        </div>
    </section>
    <!-- /.single-website -->

    <section class="judges">
        <div class="container">
            <div class="judges__wrapper">
                <header class="judges__header">
                    <h5 class="judges__subtitle">Current Judges' Scores</h5>                    </header>
                <!-- /.judges__header -->

                <ul class="judges__list">

                    <li class="judge">
                        <div class="judge__wrapper">

                            <a href="/judges/sergey-dubovenko/1684/" class="judge__link"></a>

                            <div class="judge__total-score">
                                7.33                                </div>

                            <div class="judge__info">
                                <div class="judge__info__inner">
                                    <div class="judge__info__col avatar">
                                        <img src="/judges/images/267/sergey-dubovenko.jpg" width="90" alt="Sergey Dubovenko" class="judge__avatar" />
                                    </div>

                                    <div class="judge__info__col meta">
                                        <h4 class="judge__name">Sergey Dubovenko</h4>
                                        <h6 class="judge__title">Senior Digital Producer</h6>

                                        <ul class="judge__score">
                                            <li class="judge__score__item">
                                                <span class="judge__score__label">UI</span>
                                                <span class="judge__score__val">7.5</span>
                                            </li>
                                            <li class="judge__score__item">
                                                <span class="judge__score__label">UX</span>
                                                <span class="judge__score__val">7.5</span>
                                            </li>
                                            <li class="judge__score__item">
                                                <span class="judge__score__label">INN</span>
                                                <span class="judge__score__val">7</span>
                                            </li>
                                        </ul>
                                        <!-- /.judge__scores -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.judge__info -->

                        </div>
                    </li>
                    <!-- /.judge -->

                    <li class="judge">
                        <div class="judge__wrapper">

                            <a href="/judges/vanessa-farano/1619/" class="judge__link"></a>

                            <div class="judge__total-score">
                                6.67                                </div>

                            <div class="judge__info">
                                <div class="judge__info__inner">
                                    <div class="judge__info__col avatar">
                                        <img src="/judges/images/267/vanessa-farano.jpg" width="90" alt="Vanessa Farano" class="judge__avatar" />
                                    </div>

                                    <div class="judge__info__col meta">
                                        <h4 class="judge__name">Vanessa Farano</h4>
                                        <h6 class="judge__title">Graphic Designer & Illustrator</h6>

                                        <ul class="judge__score">
                                            <li class="judge__score__item">
                                                <span class="judge__score__label">UI</span>
                                                <span class="judge__score__val">7</span>
                                            </li>
                                            <li class="judge__score__item">
                                                <span class="judge__score__label">UX</span>
                                                <span class="judge__score__val">7</span>
                                            </li>
                                            <li class="judge__score__item">
                                                <span class="judge__score__label">INN</span>
                                                <span class="judge__score__val">6</span>
                                            </li>
                                        </ul>
                                        <!-- /.judge__scores -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.judge__info -->

                        </div>
                    </li>
                    <!-- /.judge -->
                </ul>
                <!-- /.judges__list -->


                <div class="judges__btn-wrapper">
                </div>
                <!-- /.judges__btn-wrapper -->

            </div>
        </div>
    </section>
    <!-- /section.judges -->


    <div class="page-modals">
        <div data-modal="faq" class="modal ">
            <div class="modal__hide-scroll">
                <div class="container">
                    <div class="modal__content">
                       <div class="faq">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->
        <div data-modal="all-scores" class="modal ">
            <div class="modal__hide-scroll">
                <div class="container">
                    <div class="modal__content">
                        <button class="modal__close">X</button>
                        <!-- /.modal__close -->

                        <div class="all-scores__modal">
                            <header class="judges__header">
                                <h5 class="judges__subtitle">Current Judges' Scores</h5>
                            </header>
                            <!-- /.judges__header -->

                            <ul class="judges__list">
                                <li class="judge">
                                    <div class="judge__wrapper">
                                        <a href="/judges/sergey-dubovenko/1684/" class="judge__link"></a>

                                        <div class="judge__total-score">
                                            7.33                                            </div>

                                        <div class="judge__info">
                                            <div class="judge__info__inner">
                                                <div class="judge__info__col avatar">
                                                    <img src="/judges/images/267/sergey-dubovenko.jpg" width="90" alt="Sergey Dubovenko"  class="judge__avatar" />
                                                </div>

                                                <div class="judge__info__col meta">
                                                    <h4 class="judge__name">Sergey Dubovenko</h4>
                                                    <h6 class="judge__title">Senior Digital Producer</h6>

                                                    <ul class="judge__score">
                                                        <li class="judge__score__item">
                                                            <span class="judge__score__label">UI</span>
                                                            <span class="judge__score__val">7.5</span>
                                                        </li>
                                                        <li class="judge__score__item">
                                                            <span class="judge__score__label">UX</span>
                                                            <span class="judge__score__val">7.5</span>
                                                        </li>
                                                        <li class="judge__score__item">
                                                            <span class="judge__score__label">INN</span>
                                                            <span class="judge__score__val">7</span>
                                                        </li>
                                                    </ul>
                                                    <!-- /.judge__scores -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.judge__info -->

                                    </div>
                                </li>
                                <!-- /.judge -->
                                <li class="judge">
                                    <div class="judge__wrapper">
                                        <a href="/judges/vanessa-farano/1619/" class="judge__link"></a>

                                        <div class="judge__total-score">
                                            6.67                                            </div>

                                        <div class="judge__info">
                                            <div class="judge__info__inner">
                                                <div class="judge__info__col avatar">
                                                    <img src="/judges/images/267/vanessa-farano.jpg" width="90" alt="Vanessa Farano"  class="judge__avatar" />
                                                </div>

                                                <div class="judge__info__col meta">
                                                    <h4 class="judge__name">Vanessa Farano</h4>
                                                    <h6 class="judge__title">Graphic Designer & Illustrator</h6>

                                                    <ul class="judge__score">
                                                        <li class="judge__score__item">
                                                            <span class="judge__score__label">UI</span>
                                                            <span class="judge__score__val">7</span>
                                                        </li>
                                                        <li class="judge__score__item">
                                                            <span class="judge__score__label">UX</span>
                                                            <span class="judge__score__val">7</span>
                                                        </li>
                                                        <li class="judge__score__item">
                                                            <span class="judge__score__label">INN</span>
                                                            <span class="judge__score__val">6</span>
                                                        </li>
                                                    </ul>
                                                    <!-- /.judge__scores -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.judge__info -->

                                    </div>
                                </li>
                                <!-- /.judge -->

                            </ul>
                            <!-- /.judges__list -->
                        </div>
                        <!-- /.all-scores__modal -->
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>
        <!-- /.modal -->
    </div>
    <!-- /.page-modals -->





    <footer class="main dark">
        <div class="flex-grid">CSS DESIGN AWARDS &copy; 2009 - 2024</div>
        <div class="flex-grid text-center mobile-top">
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/CSSDesignAwards/" target="_blank"><img src="/imgs/social-icons/facebook.svg" alt="facebook"></a></li>
                <li><a href="https://twitter.com/cssdesignawards" target="_blank"><img src="/imgs/social-icons/twitter.svg" alt="twitter"></a></li>
                <li><a href="https://www.instagram.com/cssdesignaward/" target="_blank"><img src="/imgs/social-icons/instagram.svg" alt="instagram"></a></li>
                <li><a href="https://www.linkedin.com/in/cssda/" target="_blank" ><img src="/imgs/social-icons/linkedin.svg" alt="linkedin"></a></li>
            </ul>
        </div>
        <div class="flex-grid text-right mobile-hidden">BE INSPIRED. BE INSPIRING.</div>
    </footer>
</div>

<div id="scripts">
    <script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.select.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.checkbox.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.file.js"></script>
    <script type="text/javascript" src="/js/script.min.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
<!--    <script type="text/javascript" src="js/chatbot.js"></script>-->
</div>
<div class="cart" >
    <button id="toggleCartBtn"><img src="css/images/chatBot.jpg" alt="chat-bot" width="50px" height="50px"></button>
    <div id="cartContent" class="cart-content">
        <span class="close" id="closeCartBtn">&times;</span>
    </div>
</div>
<script>
    document.getElementById('toggleCartBtn').addEventListener('click', function() {
        document.getElementById('cartContent').style.display = 'block';
    });


    document.getElementById('closeCartBtn').addEventListener('click', function() {
        document.getElementById('cartContent').style.display = 'none';
    });

    $(document).ready(function() {
        const chatContainer = $('#cartContent');
        // const chatContainer = document.getElementById("cartContent");
            // $('#cartContent');
        let CATEGORY_STATUS = 1;
        let NEXT_CATEGORY=0;

        // 메세지를 화면에 추가
        function appendMessage(sender, message) {
            // alert(sender);
            var messageElement="";
            if(sender == "User") {
                messageElement = $('<div style="border:1px solid yellow; background:yellow; width:180px; float:right; text-align: left; color:black;"></div>').html(`<strong>${sender}:</strong> ${message}`);

            }else{
                messageElement = $('<div style="border:1px solid gray; background:lightslategray; width:200px; float:left; text-align: left; color:black"></div>').html(`<strong>${sender}:</strong> ${message}`);
            }
            chatContainer.append(messageElement);
            chatContainer.scrollTop(chatContainer.prop('scrollHeight'));
        }

        // 초기 환영 메세지 출력
        function showWelcomeMessage() {
            // alert("여기 안와?");
            appendMessage('Chatbot', '<br>안녕하세요 ? 무엇을 도와드릴까요?' +

                '<br>' +
                '<p> 1. 산검색 2.  게시판 검색 <br>');
        }


        // 사용자 메시지 처리 및 응답
        function sendMessage(userMessage) {
            appendMessage('User', userMessage);
            // CATEGORY_STATUS=parseInt(userMessage);
            // var movieTitle = findMovieMessage(userMessage);
            var inputItem = [];
            var national = "";
            var genre = "";
            // if(parseInt(userMessage) >= 0 || parseInt(userMessage) <= 5){
                if (CATEGORY_STATUS === 1) {
                    // 상위 카테고리에 따른 응답 추가
                    // alert(userMessage.toLowerCase().includes('2'));
                    if (userMessage.toLowerCase().includes('1') || userMessage.toLowerCase().includes('산검색')) {
                        showSubCategories(['지역', '산이름']);

                        CATEGORY_STATUS = 2;
                        NEXT_CATEGORY=1;
                    } else if (userMessage.toLowerCase().includes('2') || userMessage.toLowerCase().includes('게시판검색')) {
                        showSubCategories(['allolla', 'comunity', 'shop']);

                        CATEGORY_STATUS = 2;
                        NEXT_CATEGORY=2;
                    } else {
                        // 다른 키워드에 대한 기본 응답
                        // alert(userMessage)
                        setTimeout(function() {
                            appendMessage('Chatbot', '안녕하세요! 다른 도움이 필요하신가요?<br>');
                            showWelcomeMessage();
                        }, 500);
                        // showWelcomeMessage();
                    }
                }
                else if (CATEGORY_STATUS === 2) {
                    // 사용자가 하위 카테고리에 대해 물어보는 경우
                    const selectedCategory = userMessage.toLowerCase();
                    if(NEXT_CATEGORY === 1){
                        // if (selectedCategory.includes('1') || selectedCategory.includes('2') ) {
                        //    sendSubCategoryMessage(selectedCategory, ['운동화', '구두', '샌들']);
                        //    showSubCategories(['운동화', '구두', '샌들']);
                        // }
                        // alert(selectedCategory);
                        if (selectedCategory.includes('1')){
                            appendMessage('Chatbot', '지역을 입력하세요(ex: 강원특별자치도, 경기도, 부산광역시 등<br>');
                        }else if(selectedCategory.includes('2')){

                        }
                        CATEGORY_STATUS = 3;
                    } else if (selectedCategory.includes('여성의류') || selectedCategory.includes('남성의류') || selectedCategory.includes('유아의류')) {
                        sendSubCategoryMessage(selectedCategory, ['여성의류', '남성의류', '유아의류']);
                        showSubCategories(['여성의류', '남성의류', '유아의류']);
                    } else if (userMessage === '0') {
                        // alert(userMessage)
                        showWelcomeMessage();
                        CATEGORY_STATUS = 1;
                    } else {
                        // 다른 키워드에 대한 기본 응답
                        appendMessage('<br>Chatbot', '<br>죄송합니다. 입력하신 정보로는 처리할 수 없습니다.<br>');
                    }
                }else if(CATEGORY_STATUS === 3){
                    appendMessage('<br>Chatbot', '<br><a style="color: red" href="/mapPage?location='+userMessage.toLowerCase()+'">'+userMessage+ ' 검색으로 이동</a> <-클릭해주세요 <br>');
                }


            // }
        //
        //
        //     userInput.val('');
        //
        //
        //
        }
        //
        // // 하위 카테고리 출력
        function showSubCategories(subCategories) {
            var chatString ="";
            setTimeout(function() {
                // appendMessage('<br>Chatbot', '<br>아래에서 주제를 선택해주세요:<p>');
                for (let i = 0; i < subCategories.length; i++) {
                    // chatContainer.append(`${i + 1}. ${subCategories[i]}<br>`);
                    chatString =chatString + `${i + 1}. ${subCategories[i]}<br>`;
                }
                chatString += '0. 상위 메뉴<br>';
                // alert(chatString);
                appendMessage('<br>Chatbot', '<br>아래에서 주제를 선택해주세요:<p>'+chatString);
                chatContainer.append('0. 상위 메뉴<br>');
                chatContainer.scrollTop(chatContainer.prop('scrollHeight'));
            }, 500);
        }
        //
        // // 하위 카테고리에 대한 응답 메세지
        // function sendSubCategoryMessage(selectedCategory, subCategories) {
        //     const selectedSubCategory = subCategories.find(sub => selectedCategory.includes(sub.toLowerCase()));
        //     if (selectedSubCategory) {
        //         setTimeout(function() {
        //             appendMessage('<br>Chatbot', `<br>${selectedSubCategory}에 대한 정보를 제공합니다.`);
        //         }, 500);
        //     } else {
        //         appendMessage('Chatbot', '죄송합니다. 입력하신 정보로는 처리할 수 없습니다.');
        //     }
        // }
        //
        // // 초기 환영 메시지 출력
        showWelcomeMessage();
        //
        // // 입력창과 전송 버튼 생성
        // // let inputContainer = $('<div id="input-container"></div>').appendTo('body');
        let inputContainer = $('<div id="input-container"></div>').appendTo(document.getElementById('cartContent'));
        let userInput = $('<input type="text"  id="user-input" placeholder="메시지를 입력하세요">').appendTo(inputContainer);
        let sendBtn = $('<button id="send-btn">전송</button>').appendTo(inputContainer);
        //
        // // 전송 버튼 클릭 이벤트
        sendBtn.click(function() {
            const userMessage = userInput.val();
            sendMessage(userMessage);
            userInput.val('');
        });
        //
        // // 엔터 키 입력 이벤트
        userInput.keypress(function(event) {
            if (event.which === 13) {
                const userMessage = userInput.val();
                sendMessage(userMessage);
                userInput.val('');
            }
        });
    });
</script>
</body>

</html>

