<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CSSDA - JPanel - LoginFail</title>
    <meta name="robots" content="noindex, nofollow" />
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicons/apple-touch-icon-57x57.png">
    <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="shortcut icon" href="images/favicons/favicon.ico">
    <link rel="stylesheet" href="/css/style-main.min.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/jcf.css" type="text/css" media="all">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

        .loginfail-wrapper{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            position: absolute;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            top: 80px;
            bottom: 80px;
            left: 0;
            right: 0;
            padding: 44px
        }

        .loginfail-title{
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            margin: 0 0 30px;
        }

        .loginfail-content {
            width: 420px;
            height: 200px;
            /*text-align: center;*/
        }

        .btn-loginfail {
            width: 100%;
            height: 50px;
            line-height: 50px;
            background-color: #38362f;
            color: #fff;
            text-transform: uppercase;
            font-size: 16px;
            padding: 0;
            margin: 25px 0;
            border: 0;
            border-radius: 0;
            outline: 0;
            font-weight: 700;
            letter-spacing: .06em;
            overflow: hidden;
            -webkit-transition: background-color .2s;
            transition: background-color .2s
        }


        #loginfail {
            height: 200px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.47);
            border-radius: 15px;
            /*gap: 10px;*/
        }

    </style>
    <link href="css/login-style.css" rel="stylesheet">
</head>

<body>
<header class="main">

    <nav class="header__main-wrapper">
        <div class="flex-grid">
            <a href="/mainPage" class="header__site-logo">
                <img  src="/imgs/logo.svg" alt="CSS Design Awards">
            </a>
        </div>
        <div class="flex-grid text-center mobile-hidden">
            <div class="header__fade-slider">
                <div class="header__fade-slider__slide active">
                    <a href="/mainPage">
                        <img src="/imgs/content/2024/readymag.svg" width="500" height="150" alt="Readymag">
                    </a>
                </div>

            </div>
        </div>
        <div class="flex-grid text-right">
            <div class="header__side-elements">
                <a href="#" class="menu-hamburger" data-modal-open="header-main-menu"></a>


            </div>
        </div>
    </nav>
    <div data-modal="header-main-menu" class="modal header-modal-menu">
        <div class="modal__hide-scroll">
            <div class="container">
                <div class="modal__content">

                    <nav class="header__main-menu">
                        <div class="header__main-menu__wrapper">
                            <button class="modal__close">X</button>
                            <!--                                *** link -->
                            <ul class="header__main-menu__list">
                                <li><a href="/mainPage" class="cust-btn">Home</a></li>
                                <li><a href="/mapPage" class="cust-btn">Top 100 mountain</a></li>
                                <li><a href="/boarder_boardMain" class="cust-btn">Alloola Board</a></li>
                                <li><a href="/ej_boardMain" class="cust-btn">Community Board</a></li>
                                <li><a href="/" class="cust-btn">Shop</a></li>
                                <!--                                    <li><a href="/judges" class="cust-btn">Judges</a></li>-->
                                <!--                                    <li><a href="/blog" class="cust-btn">Blog</a></li>-->
                                <!--                                    <li><a href="/contact" class="cust-btn">Contact</a></li>-->
                                <!--                                    <li><a href="/terms" class="cust-btn">Terms / Privacy</a></li>-->
                            </ul>
                            <ul class="header__main-menu__add-on">
                                <!--                                    <li><a href="/submit" class="cust-btn special-button">SUBMIT</a></li>-->
                                <li><a href="/login" target="_blank">Login</a></li>
                                <li><a href="/signUp" target="_blank">SignUp</a></li>



                            </ul>
                        </div>
                    </nav>
                </div>
                <!-- /.modal-content -->
            </div>
        </div>
    </div>

</header>
<div class="loginfail-wrapper">
    <div class="loginfail-content">
        <h2 class="loginfail-title"> Login Failed </h2>
        <div id="loginfail-form">
            <div id="loginfail">
                <img src="/images/loginfail.png" alt="LoginFail Image"width="80" height="80">
                <h3><%= id %>님, <br>가입정보가 일치하지 않습니다.</h3>
                <p style="font-size: 15px">가입정보를 확인 후 다시 로그인 시도 해주세요.</p>
            </div>
                <a href="/login">
                    <button class="btn-loginfail">Try Again to Log In</button>
                </a>
<!--            </div>-->
            <a class="login-link" href="forgot-password.php">Forgot password?</a>
            <a class="login-link" href="forgot-password.php">Sign Up</a>
        </div>

    </div>
</div>
<script src="js/vendor/jquery-3.2.1.min.js"  ></script>
<div id="scripts">
    <script type="text/javascript" src="/js/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.select.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.checkbox.js"></script>
    <script type="text/javascript" src="/js/vendor/jcf.file.js"></script>
    <script type="text/javascript" src="/js/script.min.js"></script>
</div>
</body>

</html>

